body {
  background-color: gray;
}

input {
  width: 40px;
  margin: 5px;
  border-radius: 20px;

}
button{
  width: 80px;
  margin: 5px;
  border-radius: 20px;
}

button:hover {
  background-color: #fac2c2;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: row;
}

.App {
  text-align: center;
  background-color: burlywood;
  margin: 20px;
  width: 150px;
  height: 150px;
  border: black 5px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter {
  font-size: 30px;
}

.red {
  color: red;
}

.inputRed {
  border: red 2px solid;
  background-color: #ffc4c4;
}
